<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href= "{{ url_for('static', filename='css/style.css') }}"  type="text/css">


</head>
<body>



{% block body %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}


<video autoplay loop id="video-background" muted plays-inline>
  <source src="..\static\video\MeritDataCode.mp4" type="video/mp4">
</video>


<form action="/login" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h2  class="text-primary">media Scraper Access</h2>
			</div>

			<div class="login-form">
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="username" name="uname">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>

				<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="password" name="pword">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>

                <input type="submit" value="Log in" class="btn btn-primary btn-large btn-block" >
			    <br>
			</div>
		</div>
	</div>
</form>

{% endif %}
{% endblock %}


<!-- Footer -->
<footer class="page-footer font-small blue pt-4 mt-4">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright & Support by:
    <a href="https://www.meritgroup.co.uk/">Merit Software Services Pvt Lt</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</body>
</html>
