{% include 'header.html' %}
  		<div class="tab-content">
		<div id="menu4" class="tab-pane fade in active" >
				<h3>InActive</h3>
				<table id="countTable" class="table table-hover">
					<thead>
						<tr class="table100-head">
						<th class="column1">DataSourceID</th>
						<th class="column2">DataSourceName</th>
						<th class="column3">MarketName</th>
						<th class="column4">ScraperPriority</th>
						<th class="column6">ExecutionStartDateTime</th>
							<th class="column6">ExecutionEndDateTime</th>
							<th class="column6">ExecutionFrequencyMinutes</th>
							<th class="column6">NextExecutionStartDateTime</th>
							<th class="column5">TaskStatus</th>
						</tr>
					</thead>
					<tbody>
						{% for data in inactive_status %}
							<tr>
								<td class="column1">{{data["DataSourceID"]}}</td>
								<td class="column2">{{data["DataSourceName"]}}</td>
								<td class="column3">{{data["MarketName"]}}</td>
								<td class="column4">{{data["ScraperPriority"]}}</td>
								<td class="column6">{{data["ExecutionStartDateTime"]}}</td>
								<td class="column6">{{data["ExecutionEndDateTime"]}}</td>
								<td class="column6">{{data["ExecutionFrequencyMinutes"]}}</td>
								<td class="column6">{{data["NextExecutionStartDateTime"]}}</td>
								{% if data["TaskStatus"] == "Idle"%}
									<td class="column5"><button type="button" class="btn btn-success">{{data["TaskStatus"]}}</button></td>
								{% elif data["TaskStatus"] == "Error" %}
									<td class="column5"><button type="button" class="btn btn-danger">{{data["TaskStatus"]}}</button></td>
								{% else %}
									<td class="column5"><button type="button" class="btn btn-warning">{{data["TaskStatus"]}}</button></td>
								{% endif %}



							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
	  </div>
</div>

</body>
</html>